<ng-container *ngIf="(lead$ | async) as lead; else loading">
    <h1 style="color: purple">{{ lead.firstName }} {{ lead.lastName}}</h1>
    <ul style="border: rebeccapurple; border-width: 2em;">
        <li>{{ lead.email }}</li>
        <li>{{ lead.phone }}</li>
    </ul>
</ng-container>
<ng-template #loading>Loading…</ng-template>