<h1>Leads</h1>

<p *ngIf="!(leads$ | async)"><em>Loading...</em></p>
<p>
  <a [routerLink]="['/add']" class="btn btn-primary float-right mb-3">New Lead</a>
</p>

<table class="table table-sm table-hover" *ngIf="(leads$ | async)?.length>0">
  <thead>
    <tr>
      <th>id</th>
      <th>First name</th>
      <th>Last name</th>
      <th>email</th>
      <th>phone</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lead of (leads$ | async)">
      <td>{{ lead.id }}</td>
      <td><a [routerLink]="['/lead/', lead.id]">{{ lead.firstName }}</a></td>
      <td>{{ lead.lastName }}</td>
      <td>{{ lead.email }}</td>
      <td>{{ lead.phone }}</td>
      <td><a [routerLink]="['/Lead/edit/', lead.id]" class="btn btn-primary btn-sm float-right">Edit</a></td>
      <td><a [routerLink]="" (click)="delete(lead.id)" class="btn btn-danger btn-sm float-right">Delete</a></td>
    </tr>
  </tbody>
</table>